#breadcrumbs {
  display: none;
  @include screen-sm-min {
    display: initial;
    ul {
      margin: 11px 0 0;
      padding: 10px 0 12px 146px;
      background-color: $mirada-red;
      display: block;
      list-style: none;
      li {
        display: inline-block;
        color: #FFF; 
        p { 
          margin: 0;
          font-family: $montserrat;
          font-weight: 400;
          font-size: 13px;
          line-height: 13px;
        }
        a { 
          color: #FFF;
          text-decoration: none;
        }
        a:hover { 
          color: #E0868D;
          text-decoration: none;
        }
      }
      .breadcrumbs_icon { margin-left: 25px; }
      .breadcrumbs_seperator { padding: 0 4px; }
    }
  }
}