$mirada-red: #C1272C;
$dark-mirada-red: #A0242C;
$dark-gray: #222;
$dark-gray-highlight: #777;
$montserrat: Montserrat, Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$roboto: Roboto, Helvetica, Arial, sans-serif;